<footer class="usa-footer">
{% if page.return_to_top != false -%}
  <div class="grid-container usa-footer__return-to-top"><a href="#">Return to top</a></div>
{% endif -%}
{% comment -%}
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-footer__logo grid-row mobile-lg:grid-col-2 mobile-lg:grid-gap-2">
          <div class="mobile-lg:grid-col-auto">
            Take a look
          </div>
        </div>
        <div class="usa-footer__logo grid-row mobile-lg:grid-col-3 mobile-lg:grid-gap-2">
          <div class="mobile-lg:grid-col-auto">
            {% asset "tsp_link.gif" alt="Learn the basics about the TSP" xwidth="184" xheight="139" %}
          </div>
        </div>
        <div class="usa-footer__logo grid-row mobile-lg:grid-col-2 mobile-lg:grid-gap-2">
          <div class="mobile-lg:grid-col-auto">
            <p style="padding-bottom: .5em;">Learn about the basics about the TSP:</p>
            <a href="https://www.tsp.gov/account-basics/" target="_blank" rel="noopener">https://www.tsp.gov/account-basics/
              {% asset "arrow_ball.png"  width="14" height="14" %}</a>
          </div>
        </div>
        <div class="usa-footer__logo grid-row mobile-lg:grid-col-3 mobile-lg:grid-gap-2">
          <div class="mobile-lg:grid-col-auto">
            {% asset "Lfunds.gif" alt="Learn the basics about the TSP" xwidth="184" xheight="136" %}
          </div>
        </div>
        <div class="usa-footer__logo grid-row mobile-lg:grid-col-2 mobile-lg:grid-gap-2">
          <div class="mobile-lg:grid-col-auto">
            <p style="padding-bottom: .5em;">The TSP has 10 Lifecycle Funds designed just for TSP participants:</p>
            <a href="https://www.tsp.gov/funds-lifecycle/" target="_blank" rel="noopener">https://www.tsp.gov/funds-lifecycle/
              {% asset "arrow_ball.png"  width="14" height="14" %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endcomment -%}
</footer>
