---
permalink: /search/
layout: page2
title: Search
---

{% if site.searchgov == false -%}<script>window.location = "/";</script>{% endif -%}

<h2>Search Results</h2>

<nav class="search-filters">
  <ul>
{% for nav_item in site.data.navigation.search_nav -%}
    <li><span id='search_{{nav_item.group}}' onClick="doSearch('{{nav_item.group}}', '{{nav_item.dc}}');">{{nav_item.name}}</span></li>
{% endfor -%}
  </ul>
</nav>

<input type="hidden" id="next_offset" name="next_offset" value="-1">
{% comment -%}
<form id="search_form_page" class="usa-search usa-search--small" action="https://search.usa.gov/search" accept-charset="UTF-8" method="get">
  <input name="affiliate" type="hidden" value="{{site.searchgov.affiliate}}" />
  <input name="dc" id="dc" type="hidden" value="" />
{% endcomment -%}
<form id="search_form_page" class="usa-search usa-search--small" action="{{site.baseurl}}/search/" accept-charset="UTF-8" method="get" onSubmit="onSearchSubmit();">
  <input name="utf8" type="hidden" value="✓" />
  <input name="group" id="group" type="hidden" value="everything" />
  <div role="search" aria-label="Search page with filters">
    <label class="usa-sr-only" for="extended-search-field-big">Search big</label>
    <input class="usa-input usagov-search-autocomplete" id="extended-search-field-big" type="search" name="query" autocomplete="off" placeholder="{{site.searchgov.placeholder}}">
    <button class="usa-button on-card" type="submit">
      {% asset "img/usa-icons-bg/search--white.svg" class="usa-search__submit-icon" alt="Search" %}
    </button>
    <label class="usa-sr-only" for="limit">Number of hits per page</label>
    <select id="limit" onChange="onSearchSubmit(); submit();" class="search-select-hits">
      {% assign items = "10,15,20,30,40,50" | split: "," -%}
      {% for item in items -%}
      <option value="{{item}}">{{item}} per page</option>
      {% endfor -%}
    </select>
  </div>
  <div id="search_form_div" class="hide"></div>
</form>

{% if site.searchgov.affiliate == "federalist-uswds-example" %}
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      This is an example. You will need to configure your site with search.gov to see the correct search results. To do this:
      <ol>
        <li>Create an account with Search.gov at <a href="https://search.usa.gov/signup">https://search.usa.gov/signup</a></li>
        <li>Go to the "Activate" section and get "API Access Key"</a></li>
        <li>Open <code>_config.yml</code> and look for <code>searchgov</code> fields</li>
        <li>Add your <code>affiliate</code> and <code>access_key</code></li>
        <li>Your results will not show up immediately. Make sure you follow <a href="https://search.gov/manual/searchgov-for-federalist.html">instructions to index your site</a>.</li>
      </ol>
    </div>
  </div>
{% endif %}

<ul id="search-recommended"></ul>
<ol id="search-results" start="1"></ol>
<div id="search-nav" class="search-block">
  <span class="search-previous disabled">Previous</span>
  <em class="search-page">1</em>
  <span class="search-next disabled">Next</span>
</div>

{% include_relative search_script -%}
