---
permalink: /search/
layout: page
title: Search
---

{% if site.searchgov == false -%}<script>window.location = "/";</script>{% endif -%}

<h1>Search Results</h1>

<nav class="search-filters">
  <ul>
{% for nav_item in site.data.navigation.search_nav -%}
    <li><span id='search_{{nav_item.group}}' onClick="doSearch('{{nav_item.group}}', '{{nav_item.dc}}');">{{nav_item.name}}</span></li>
{% endfor -%}
  </ul>
</nav>


{% comment -%}
<form id="search_form_page" class="usa-search usa-search--small" action="/search/" accept-charset="UTF-8" method="get">
{% endcomment -%}
<form id="search_form_page" class="usa-search usa-search--small" action="https://search.usa.gov/search" accept-charset="UTF-8" method="get">
  <input name="utf8" type="hidden" value="✓" />
  <input name="affiliate" type="hidden" value="{{include.searchgov.affiliate}}" />
  <input name="group" id="group" type="hidden" value="everything" />
  <input name="dc" id="dc" type="hidden" value="" />

  <div role="search">
    <label class="usa-sr-only" for="extended-search-field-small">Search small</label>
    <input class="usa-input usagov-search-autocomplete" id="extended-search-field-big" type="search" name="query" autocomplete="off">
    <button class="usa-button on-card" type="submit">
      <img src="{{site.baseurl}}/img/usa-icons-bg/search--white.svg" class="usa-search__submit-icon" alt="Search">
    </button>
  </div>
</form>

{% if site.searchgov.affiliate == "federalist-uswds-example" %}
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      This is an example. You will need to configure your site with search.gov to see the correct search results. To do this:
      <ol>
        <li>Create an account with Search.gov at <a href="https://search.usa.gov/signup">https://search.usa.gov/signup</a></li>
        <li>Go to the "Activate" section and get "API Access Key"</a></li>
        <li>Open <code>_config.yml</code> and look for <code>searchgov</code> fields</li>
        <li>Add your <code>affiliate</code> and <code>access_key</code></li>
        <li>Your results will not show up immediately. Make sure you follow <a href="https://search.gov/manual/searchgov-for-federalist.html">instructions to index your site</a>.</li>
      </ol>
    </div>
  </div>
{% endif %}

<ol id="search-results"></ol>

{% include_relative search_script -%}
