{% comment %}
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages
{% endcomment %}
{% assign navList = site.data.navigation -%}
{% assign isCurrent = 'class="usa-current"' -%}
{% assign curSidenav = navList.[include.sidenav] -%}
{% assign firstURL = navList.[include.sidenav].first.url -%}
{% assign firstName = navList.[include.sidenav].first.name -%}
<aside class="usa-layout-docs-sidenav desktop:grid-col-3 padding-bottom-4">
  <nav>
    <ul class="usa-sidenav">
      {% include sidenav/line-item.html myItem=curSidenav.first -%}
      <li class="usa-sidenav__item">
        <ul class="usa-sidenav__sublist">
          {% for sideItem in navList.[include.sidenav] -%}
          {% if forloop.first -%}{% continue -%}{% endif -%}
          {% include sidenav/line-item.html myItem=sideItem -%}
          {% if sideItem.children -%}
            {% assign testArray = page.url | split: sideItem.url -%}
            {% if testArray[0] == '' or testArray[0] == nil -%}
            <li class="usa-sidenav__item">
              <ul class="usa-sidenav__sublist">
              {% for gcItem in navList.[sideItem.children] -%}
              {% include sidenav/line-item.html myItem=gcItem -%}
              {% endfor -%}
              </ul>
            </li>
            {% endif -%}
          {% endif -%}
          {% endfor -%}
        </ul>
      </li>
    </ul>
  </nav>
</aside>
