/* custom stylesheet added for USWDS 3.0 */
@use "uswds-core" as *;

/*
  FRTIB CSS

*/



// TEST FOR HOME BARCHART
.bar-graph .year {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
  opacity: 0;
}

.bar-graph-horizontal {
  max-width: auto;
}

.bar-graph-horizontal > div {
  float: left;
  margin-bottom: 8px;
  width: 100%;
}

.bar-graph-horizontal .descr {

  margin-top: 18px;
  margin-right: 18px;
  font-weight: bold;
  width: auto;
}

.bar-graph-horizontal .bar {
  border-radius: 3px;
  height: 55px;
  float: left;
  overflow: hidden;
  position: relative;

}

.bar-graph-satisfaction .bar::after {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
  color: #fff;
  content: attr(data-percentage);
  font-weight: 700;
  position: absolute;
  right: 16px;
  top: 17px;
}

.bar-graph-satisfaction .bar-zero .bar {
  background-color: #2e515f;
  -webkit-animation: show-bar-zero 1.2s 0.4s forwards;
  -moz-animation: show-bar-zero 1.2s 0.4s forwards;
  animation: show-bar-zero 1.2s 0.4s forwards;
}

.bar-graph-satisfaction .bar-one .bar {
  background-color: #2e8540;
  -webkit-animation: show-bar-one 1.2s 0.4s forwards;
  -moz-animation: show-bar-one 1.2s 0.4s forwards;
  animation: show-bar-one 1.2s 0.4s forwards;
}

.bar-graph-satisfaction .bar-two .bar {
  background-color: #fdb81e;
  -webkit-animation: show-bar-two 1.2s 0.4s forwards;
  -moz-animation: show-bar-two 1.2s 0.4s forwards;
  animation: show-bar-two 1.2s 0.4s forwards;
}

.bar-graph-satisfaction .bar-three .bar {
  background-color: #981b1e;
  -webkit-animation: show-bar-three 1.2s 0.6s forwards;
  -moz-animation: show-bar-three 1.2s 0.6s forwards;
  animation: show-bar-three 1.2s 0.6s forwards;
}

/*
// Bar Graph Horizontal Animations (redefined in _includes/home/satisfaction for easy updates)
@-webkit-keyframes show-bar-zero {
  0% { width: 0; }
  100% { width: 1%; }
}

@-webkit-keyframes show-bar-one {
  0% { width: 0; }
  100% { width: 1%; }
}

@-webkit-keyframes show-bar-two {
  0% { width: 0; }
  100% { width: 1%; }
}

@-webkit-keyframes show-bar-three {
  0% { width: 0; }
  100% { width: 1%; }
}
*/

@-webkit-keyframes fade-in-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// END OF BARCHART
