/* custom stylesheet added for USWDS 3.0 */
@use "uswds-core" as *;

/*
  FRTIB CSS

*/

//   alterations to USWDS styles
.usa-header {
  background-color: #112e51;
}
.usa-nav {
  background-color: #205493;
}

//    seal and text edits

.usa-logo {
  line-height: 1.2rem;

}

.usa-logo__text {
  display: flex;
  font-style: normal;
  font-weight: 700;
  height: 100px;
  margin: 0;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;

}


//    END seal and text edits

.usa-logo a {
  color: #eee;
  font-weight: 600;
  font-size: 1.50rem;
}

.img-seal {
  padding-right: 1rem;
}

.float-left {
  float: left;
  padding-right: .25em;
}

.no-max-width {
  .usa-prose>p {
      max-width: none;
  }
}

@media screen and (min-width: 64em) {
  .usa-prose>p {
      max-width: none;
  }
  #extended-logo {
    height: 6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0rem;
  }
}

@media screen and (max-width: 64em) {
  #extended-logo {
    height: 8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
  }
  .usa-navbar {
    height: 8rem;
  }
}

.usa-nav__primary a:not(.usa-button):not(.usa-current) {
  color: #eee;
}

.usa-nav__primary>.usa-nav__primary-item>a, .usa-nav__primary button, .usa-nav__secondary-links a {
  color: #eee;
  font-size: 1.10rem;
  font-weight: normal;
}
.usa-nav__primary a:not(.usa-button):not(.usa-current) {
  color: #eee;
}

.usa-nav__primary>.usa-nav__primary-item>a, .usa-nav__primary button, .usa-nav__secondary-links a {
  color: #eee;
  font-size: 1.10rem;
  font-weight: normal;
}

.usa-nav__primary button[aria-expanded="false"] span::after, .usa-nav__primary button[aria-expanded="false"]:hover span::after {
    background-color: #eee;
}

.usa-nav__primary a:not(.usa-button):not(.usa-current):hover {
    color: #fad980;
    background-color: #205493;
}
.usa-nav__primary button:hover, .usa-nav__primary>.usa-nav__primary-item>a:hover,
  .usa-nav__submenu .usa-nav__submenu-item a:hover {
  color: #fad980;
}



.break-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 85%;
}
