/* custom stylesheet added for USWDS 3.0 */
@use "uswds-core" as *;

/*
  FRTIB CSS

*/

// This is for svg icon for link leading to external site

// .usa-link--alt[href^=http]:not([href*="www.frtib.gov"])::after, [href^=http]:not([href*="www.frtib.gov"])::after, .subscribe-img {
// .usa-link--alt[href^=http]:not([href*="www.frtib.gov"])::after, [href^=http]:not([href*="govdelivery.com"])::after, .subscribe-img {
.offsite-link {
  background: 0 0;
  background-color: currentColor;
  -webkit-mask: url("../img/usa-icons/launch.svg") no-repeat center/contain;
  width: 1.75ex;
  background-position: center;
  content: "";
  display: inline-block;
  height: 1.5ex;
  margin-left: 0.5px;
  margin-top: 0.5ex;
  position: relative;
  padding-right: 2ex;
}
.usa-link--alt[href^=http]:not(.no-icon):not([href*="www.frtib.gov"])::after,
  [href^=http]:not(.no-icon):not([href*="govdelivery.com"])::after,
  .subscribe-img {
    @extend .offsite-link;
}
.navigate_next {
  @extend .subscribe-img;
  -webkit-mask: url("../img/usa-icons/navigate_next.svg") no-repeat center/contain;
  height: 1.75ex;
  width: 2.0ex;
}
//  icons for the Notification callouts
.usa-icon-base {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  content: "";
  display: block;
  height: 3.5rem;
  left: 0.9166666667rem;
  position: absolute;
  top: 0;
}
.usa-alert--info:before {
  @extend .usa-icon-base;
  background: url("../img/usa-icons/info.svg") no-repeat center / 2rem 2rem;
}
.usa-alert--warning:before {
  @extend .usa-icon-base;
  background: url("../img/usa-icons/warning.svg") no-repeat center / 2rem 2rem;
}
.usa-alert--error:before {
  @extend .usa-icon-base;
  background: url("../img/usa-icons/error.svg") no-repeat center / 2rem 2rem;
}
.usa-alert--success:before {
  @extend .usa-icon-base;
  background: url("../img/usa-icons/check_circle.svg") no-repeat center / 2rem 2rem;
}
