/* custom stylesheet added for USWDS 3.0 */
@use "uswds-core" as *;

/*
  FRTIB CSS

*/

//   alterations to USWDS styles
h3 {
  font-family: Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;
  line-height: 1.2;
  font-size: 1.15em;
  font-weight: bold;
  color: #112e51;
}

a::before, *::after, a:focus {
  box-sizing: inherit;
  outline-width: 0.15rem !important;
}

.usa-alert__heading {
  font-family: Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;
  line-height: 1.2;
  color: #112e51;
  font-size: 1.15rem;
}

.usa-card__heading {
    font-size: 1.15rem;
    color: #112e51;
}
.usa-card__container {
    border-color: #323a45;
}
.card_striped {
  background-color: #fad980;
  min-height: 0.4rem;
}
.usa-card__header {
  background-color: #f1f1f1;
  min-height: 5.5rem;
  padding: 3 1 3 1;
}

.hide {
  display: none;
}

.usa-list li, .usa-prose>ul li, .usa-prose>ol li, .usa-collection__item, .usa-prose .usa-collection__item {
  margin-bottom: 0.25em;
  max-width: 68em;
}

.usa-section  {
  padding-bottom: 2rem;
  padding-top: 2rem;
}


// DAV: I added this to override home usa-hero

.usa-hero {
  background-image: url("../../img/hero/HomeHero_L.jpg");
  background-position: 50%;
  background-size: cover;
  background-color: #981b1e;
}

//DAV: this is color edit to process list
.usa-process-list__item::before {
  border: 0.25rem solid #205493;
  color: #205493;
}

.usa-prose .usa-process-nolist {
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.06rem;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
    padding: 20px 0 0 calc( ( (2.5rem / 2) - (0.5rem / 2) ) );
    position: relative;
  }

.usa-process-nolist__item::before {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    border-radius: 99rem;
    width: 2.5rem;
    background-color: white;
    border: 0.25rem solid #1b1b1b;
    box-shadow: 0 0 0 0.25rem white;
    color: #1b1b1b;
    display: flex;
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.46rem;
    font-weight: 700;
    height: 2.5rem;
    left: 0;
    line-height: 0.9;
    margin-top: -0.4rem;
    position: absolute;
    width: 2.5rem;
}

// .xusa-card-group .ol {
//  @extend .usa-process-list;
//}

.bordered {
  border-style: solid;
  border-color: #000000;
  border-width: thin;
}

.left-border-thick-line {
  padding-left: 0.4rem;
  border-left-style: solid;
  border-left-color: #000000;
  border-left-width: thick;
}

.board {
  float: left;
  margin-right: 1.0rem;
}

.share-modal-url {
  width: 97%;
}
