/* custom stylesheet added for USWDS 3.0 */
@use "uswds-core" as *;

/*
  FRTIB CSS

*/

.search-filters {
  background-color: #ffffff;
  border-bottom: 1px solid #d6d7d9;
  clear: both;
  display: block;
  height: 4rem;
  padding-left: 0.2rem;
  z-index: 10;
}
.search-filters ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}
.search-filters ul > li {
  margin-bottom: 0;
}
.search-filters ul li {
  display: inline;
}
.search-filters span {
color: #5b616b;
font-size: 1.06rem;
font-weight: 700;
line-height: 2rem;
padding: 0.2rem;
padding-right: 1.5rem;
text-decoration: none;
-webkit-font-smoothing: antialiased;
}
.search-filters span:hover {
  border-bottom: 0.2rem solid #9bdaf1;
  padding-bottom: 0.1rem;
  color: #0071bc;
  cursor: pointer;
}
.search-filters .search-current {
 border-bottom: 0.2rem solid #046b99;
 padding-bottom: 0.1rem;
 color: #046b99;
}

.urlresult {
  color: #006800;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no-bullets {
  list-style-type: none;
}

.search-block {
  text-align: center;
  margin-top: 1.0rem;
  padding-bottom: 0.5rem;
}

.search-previous {
  text-align: right;
}

.search-next {
  text-align: right;
}

.search-page {
  text-align: center;
  padding: 0.7rem;
}

.search-select-hits {
  margin-left: 0.5rem;
}
