<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col">
          <div class="logo-links">
            <a class="footer-logo media_link" href="https://www.tsp.gov">
              {% asset "Standard_LOGO_White.png" width="50" alt="TSP" %}
            </a>
          </div>
        </div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li><a href="/privacy/">Privacy Policy</a></li>
            <li><a href="/NoFear/">No Fear Act</a></li>
            <li><a href="/FairAct/">Fair Act</a></li>
          </ul>
        </div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li><a href="/EEO/">EEO</a></li>
            <li><a href="/data/">Data</a></li>
            <li><a href="/onboarding/">Onboarding</a></li>
          </ul>
        </div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
          <li><a href="/vulnerability-disclosure-policy/">Vulnerability Disclosure</a></li>
          <li><a href="/IPv6/">FRTIB IPv6 Policy</a></li>
          <li> </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
