{% comment %}
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages
{% endcomment %}

<aside class="usa-layout-docs-sidenav desktop:grid-col-3 padding-bottom-4">
  <nav>
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">
        <a href="{{site.baseurl}}/reading-room">Reading Room</a>
      </li>
      <li class="usa-sidenav__item">
        <a class="usa-current" href="{{site.baseurl}}/reading-room">Reading Room</a>
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            <a href="{{site.baseurl}}/reading-room-fersa">FERSA</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{site.baseurl}}/reading-room-regulations">Regulations</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{site.baseurl}}/reading-room-financial-statements">Financial Statements</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{site.baseurl}}/reading-room-strategic-plan">FRTIB Strategic Plan</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{site.baseurl}}/reading-room-reports-to-congress">Reports to Congress</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{site.baseurl}}/reading-room-press-releases">Press Releases</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{site.baseurl}}/reading-room-participant-surveys">Participant Surveys</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{site.baseurl}}/reading-room-employee-surveys">Employee Surveys</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{site.baseurl}}/reading-room-investment-benchmarks">Investment Benchmarks</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{site.baseurl}}/reading-room-foia">FOIA</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
