/*
  FRTIB CSS

*/

//   alterations to USWDS styles
.usa-nav__primary a:not(.usa-button):not(.usa-current) {
  color: #eee;
}

.usa-nav__primary>.usa-nav__primary-item>a, .usa-nav__primary button, .usa-nav__secondary-links a {
  color: #eee;
  font-size: 1.10rem;
  font-weight: normal;
}

.usa-nav__primary button[aria-expanded="false"], .usa-nav__primary button[aria-expanded="false"]:hover {
  background-image: url("../img/usa-icons-bg/expand_more--white.svg"), linear-gradient(transparent, transparent);
}

.usa-nav__primary a:not(.usa-button):not(.usa-current):hover {
    color: #fad980;
}
.usa-nav__primary button:hover, .usa-nav__primary>.usa-nav__primary-item>a:hover,
  .usa-nav__submenu .usa-nav__submenu-item a:hover {
  color: #fad980;
}

.usa-button {
  background-color: #0071bc;
  color: #fff;
  font-size: .95rem;
  font-weight: normal;
  text-align: left;
  line-height: 1.1rem;
}

.usa-button:not(.on-card):not(.alert-button) {
  // max-width: 25em;
  // min-width: 25em;
  width: 20em;
  padding: 0.15rem 1.25rem;
}

.usa-button.thin {
  padding: 0.15rem 1.25rem;
}
.usa-button.subscribe {
  background-color: #981b1e;
}
.meeting-minutes-button {
  min-width: 8em;
  max-width: 8em;
}

@media screen and (min-width: 64em) {
  .alert-button {
    position: absolute;
    top: .6em;
    left: 48%;
  }
}

@media screen and (max-width: 64em) {
  .alert-button {
    width: 100%;
  }
}

.alert-button {
  max-width: 35em;
  min-width: 10em;
  border-radius: 2px;
  padding: .65em .65em .65em .65em;
  background-color: #f9c642;
  color: #112e51;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 12px 18px rgba(19, 19, 25, 0.9);
  transform: translateY(-7px);

}
.alert-button:hover {
  background-color: #fdb81e;
  color: #fff;
  box-shadow: none;

}

.alert-button:active {
  box-shadow: inset 0 4px 8px rgba(19, 19, 25, 0.25);
}
