/*
  FRTIB CSS

*/


//   alterations to USWDS styles
.usa-prose>p {
    max-width: none;
}

.usa-header {
  background-color: #1A4480;
}

.usa-nav__primary>.usa-nav__primary-item>a, .usa-nav__primary button, .usa-nav__secondary-links a {
  color: #ddd;
}

.usa-footer__primary-section {
  background-color: #005EA2;
}

.usa-footer__primary-section a {
  color: #ccc;
}

.usa-footer__secondary-section {
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  color: #eee;
  background-color: #1a4480;
}

.usa-footer__secondary-section a {
  color: #eee;
}
