/*
  FRTIB CSS

*/

//   alterations to USWDS styles
.usa-header {
  background-color: #112e51;
}
.usa-nav {
  background-color: #205493;
}

.usa-logo a {
  color: #eee;
  font-weight: 600;
  font-size: 1.50rem;
  line-height: 1rem;
}
.float-left {
  float: left;
  vertical-align: top;
}

.no-max-width {
  .usa-prose>p {
      max-width: none;
  }
}

@media screen and (min-width: 64em) {
  .usa-prose>p {
      max-width: none;
  }
  #extended-logo {
    height: 6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0rem;
  }
}

@media screen and (max-width: 64em) {
  #extended-logo {
    height: 8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
  }
  .usa-navbar {
    height: 8rem;
  }
}

.usa-nav__primary a:not(.usa-button):not(.usa-current) {
  color: #eee;
}

.usa-nav__primary>.usa-nav__primary-item>a, .usa-nav__primary button, .usa-nav__secondary-links a {
  color: #eee;
  font-size: 1.10rem;
  font-weight: normal;
}

.break-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 85%;
}
