/*
  FRTIB CSS

*/

//   alterations to USWDS styles
.usa-card__heading {
    font-size: 1.15rem;
    color: #112e51;
}
.usa-card__container {
    border-color: #323a45;
}
.card_striped {
  background-color: #fad980;
  min-height: 0.4rem;
}
.usa-card__header {
  background-color: #f1f1f1;
  min-height: 5.5rem;
  padding: 3 1 3 1;
}

.hide {
  display: none;
}

.usa-list li, .usa-prose>ul li, .usa-prose>ol li, .usa-collection__item, .usa-prose .usa-collection__item {
  margin-bottom: 0.25em;
  max-width: 68em;
}

.usa-section  {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

// DAV: I added this to override home usa-hero

.usa-hero {
  background-image: asset_url("HomeHero_darkred.jpg");
  background-position: 50%;
  background-size: cover;
  background-color: #981b1e;
}
