/*
  FRTIB CSS

*/

//   alterations to USWDS styles
.usa-card__heading {
    font-size: 1.15rem;
}
.usa-card__container {
    border-color: #323a45;
}
.card_striped {
  background-color: #9bdaf1;
}
.usa-card__header {
  background-color: #f1f1f1;
}
