/*
  FRTIB CSS

*/

//   alterations to USWDS styles
.usa-card__heading {
    font-size: 1.15rem;
}
.usa-card__container {
    border-color: #323a45;
}
.card_striped {
  background-color: #9bdaf1;
  min-height: 0.6rem;
}
.usa-card__header {
  background-color: #f1f1f1;
  min-height: 5.5rem;
}

.hide {
  display: none;
}


// DAV: I added this to override home usa-hero

.usa-hero {
  background-image: asset_url("HomepageHero_cd2026.jpg");
  background-position: 50%;
  background-size: cover;
  background-color: #cd2026;
}
