{% comment %}
Extracted from original menu.html in the template.

It looks like the upper right code is defined below the navigation so that it becomes part of menu when the screen is small.
{% endcomment %}

{% include header/official-website.html %}
{% include header/alert-none %}
<header class="usa-header usa-header--extended" role="banner">
  <div class="usa-navbar">
    {% include header/logo.html %}
    <button class="usa-menu-btn">Menu</button>
  </div>
  {% include header/topnav.html %}
</header>
{% include header/documentation.html -%}
