{% comment -%}
Just the right side of the header, extracted from original menu.html from template.
{% endcomment -%}
      <div class="usa-nav__secondary">
        <ul class="usa-nav__secondary-links">
          {% for nav_item in site.data.navigation.search_links -%}
          {% assign curURL = nav_item.url -%}
          {% assign firstChar = curURL | slice: 0 -%}
          {% assign itemName = nav_item.name | escape -%}
          {% if firstChar == "/" -%}
          <li class="usa-nav__secondary-item"><a href="{{site.baseurl}}{{ curURL }}">{{itemName}}</a></li>
          {% else -%}
          <li class="usa-nav__secondary-item">{% include offsite-link url=curURL linkText=itemName -%}</li>
          {% endif -%}
          {% endfor %}
          <li class="usa-nav__secondary-item">{% include header/share-modal.html -%}</li>
        </ul>
        {% include searchgov/form.html searchgov=site.searchgov %}
      </div>
