/* print.css */

body{
  background-color: white;
  background: none;
  background-image: none;
  color: black;
}

.main-content{
  background-color: white;
  background-image: none;
  color: black;
}

img, svg {
  display: none !important;
}

.usa-navbar, .usa-footer__nav,
